{% extends '/en/base.html' %}


{% block head %}
{% endblock %}

{% block content %}
<main class="flex-shrink-0">
    <div class="d-flex justify-content-center" style="padding:200px 0 10px 0 !important;">
        <img src="{{ url_for('static', filename='img/teiren-color-logo.png') }}" class="about-img">
    </div>
    <!-- About Teiren-->
    <section>
        <div class="px-5 d-flex justify-content-center align-items-center">
            <div class="px-1 my-3">
                <div class="text-center mb-3">
                    <h1 class="display-5 fw-bolder mb-0">
                        <span class="text-teiren d-inline">About Teiren</span>
                    </h1>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="my-4 d-flex w-10" style="border-top: 5px solid var(--teiren); "></div>
                    </div>
                </div>
                <div class="text-center about-text">
                    <span class="fs-6 fw-bold">
                        Teiren is a combination of Tera Byte+Siren, a security software solution that analyzes data in
                        terabytes (TB) to become the best Siren for customers.
                        All of the members are graduates of Korea's best next-generation security talent training
                        program Best Of the Best (BoB), which was established
                        to improve corporate security, solve customers' cybersecurity challenges, and solve the burden
                        of security personnel.
                    </span>
                </div>
                <div class="text-center mt-3 about-text">
                    <span class="fs-6 fw-bold">
                        Since its inception, Teiren has been listening to the challenges of various security personnel,
                        and in practice,
                        Teiren is now providing a security solution called SIEM by applying an advanced technology
                        called Graph DB to address these challenges.
                        Meet the Safe World with Teiren.
                    </span>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section>
        <div class="px-5 d-flex justify-content-center align-items-center">
            <div class="px-1 my-3">
                <div class="text-center mb-3">
                    <h1 class="display-5 fw-bolder mb-0">
                        <span class="text-teiren d-inline">Team</span>
                    </h1>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="my-4 d-flex w-10" style="border-top: 5px solid var(--teiren); "></div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="ceo">
                        <div class="align-items-center team-box">
                            <div class="team-img-box">
                                <img src="{{ url_for('static', filename='img/Sungyeon Kim.png') }}" class="team-img">
                            </div>
                            <div class="team-name fw-bolder">
                                <span>Sungyeon Kim |</span>
                            </div>
                            <div class="team-eng fw-normal">
                                <span>CEO</span>
                            </div>
                            <div class="team-info-eng">
                                <span>
                                    Bachelor's Degree of Information Security<br>
                                    <span style="font-size: 0.8rem;">in Seoul Woman's University</span> <br>
                                    BoB 11th Security Consulting <br>
                                    Front-end Development
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="member">
                        <div class="align-items-center team-box">
                            <div class="team-img-box">
                                <img src="{{ url_for('static', filename='img/Yuwon Sung.png') }}" class="team-img">
                            </div>
                            <div class="team-name fw-bolder">
                                <span>Yuwon Sung |</span>
                            </div>
                            <div class="team-eng fw-normal">
                                <span>Developer</span>
                            </div>
                            <div class="team-info-eng">
                                <span>
                                    Bachelor's Degree of Computer Information Engineering<br>
                                    <span style="font-size: 0.8rem;">in Daegu University</span> <br>
                                    BoB 11th Security Production Development <br>
                                    Back-end Development | Machine Learning
                                </span>
                            </div>
                        </div>
                        <div class="align-items-center team-box">
                            <div class="team-img-box">
                                <img src="{{ url_for('static', filename='img/Hyunkyung Lee.png') }}" class="team-img">
                            </div>
                            <div class="team-name fw-bolder">
                                <span>Hyunkyung Lee |</span>
                            </div>
                            <div class="team-eng fw-normal">
                                <span>Researcher</span>
                            </div>
                            <div class="team-info-eng">
                                <span>
                                    Bachelor's Degree of Information Security<br>
                                    <span style="font-size: 0.8rem;">in Seoul Woman's University</span> <br>
                                    BoB 11th Security Consulting <br>
                                    Policy Development | Machine Learning
                                </span>
                            </div>
                        </div>
                        <div class="align-items-center team-box">
                            <div class="team-img-box">
                                <img src="{{ url_for('static', filename='img/Somang Cho.png') }}" class="team-img">
                            </div>
                            <div class="team-name fw-bolder">
                                <span>Somang Cho |</span>
                            </div>
                            <div class="team-eng fw-normal">
                                <span>Researcher</span>
                            </div>
                            <div class="team-info-eng">
                                <span>
                                    Bachelor's Degree of Industrial Security<br>
                                    <span style="font-size: 0.8rem;">in ChungAng University</span> <br>
                                    BoB 11th Security Consulting <br>
                                    Data Visualization | Foreign Sales
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Vison -->
    <section>
        <div class="px-5 d-flex justify-content-center align-items-center">
            <div class="px-1 my-3">
                <div class="text-center mb-3">
                    <h1 class="display-5 fw-bolder mb-0">
                        <span class="text-teiren d-inline">VISION</span>
                    </h1>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="my-4 d-flex w-10" style="border-top: 5px solid var(--teiren); "></div>
                    </div>
                </div>
                <div class="text-center about-text">
                    <span class="fs-4 fw-bolder text-teiren">
                        "Visualize the Invisible"
                    </span>
                </div>
                <div class="text-center mt-3 about-text">
                    <span class="fs-6 fw-bold">
                        Cyberattacks are becoming more diverse and sophisticated by the day.
                        We will apply an advanced technology called Graph DB
                        to detect threats before they occur to corporate assets and to visualize invisible cyber
                        attacks.
                    </span>
                </div>
            </div>
        </div>
    </section>
    <!-- Goal -->
    <section>
        <div class="px-5 d-flex justify-content-center align-items-center">
            <div class="px-1 my-3">
                <div class="text-center mb-3">
                    <h1 class="display-5 fw-bolder mb-0">
                        <span class="text-teiren d-inline">GOAL</span>
                    </h1>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="my-4 d-flex w-10" style="border-top: 5px solid var(--teiren); "></div>
                    </div>
                </div>
                <div class="text-center about-text">
                    <span class="fs-4 fw-bolder text-teiren">
                        "By solving cybersecurity challenges, Teiren becomes a company that improves the security of
                        companies and lowers the burden on customers."
                    </span>
                </div>
                <div class="text-center mt-3 about-text">
                    <span class="fs-6 fw-bold">
                        We, Teiren, will create faster and more advanced security products for a safe world.
                        We will listen to our customers and work hard to ease the burden of your cybersecurity.
                    </span>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}