<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TEIREN</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/teiren-icon.png') }}" />
    <!-- Custom NAVER font-->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <!-- Style -->
    <link href="{{ url_for('static', filename='css/teiren.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Teiren js-->
    <script src="{{ url_for('static', filename='js/navbar.js')}}"></script>
    {# 특정 페이지에서만 사용되는 스타일 시트가 있는 페이지에서 사용됨 #}
    {% block head %}{% endblock %}
</head>
<body>
    {% include "/en/nav.html" %}

    {# base.html을 상속받은 페이지에서 추가할 곳 #}
    {% block content %}{% endblock %}

    {% include "/en/footer.html" %}
</body>
</html>